[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pyqt-openai"
version = "0.8.2"
description = "PyQt/PySide multipurpose chatbot that user can use GPT, other AI models altogether"
authors = [{ name = "Jung Gyu Yoon", email = "yjg30737@gmail.com" }]
license = { text = "MIT" }
readme = "README.md"
dependencies = [
    "PyQt5 >= 5.14",
    "PyQt6",
    "qtpy",
    "aiohttp",
    "openai",
    "pyperclip",
    "jinja2",
    "llama-index",
    "requests",
    "langchain",
    "pillow",
    "replicate",
    "toml"
]
keywords = ['openai', 'pyqt', 'pyqt5', 'pyqt6', 'pyside6', 'chatbot', 'gpt', 'replicate']

requires-python = ">= 3.9"
# 3.9
# 3.10
# 3.11
# 3.12

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
    "License :: OSI Approved :: MIT License",  # Just an example, use your actual license
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Framework :: PyQt",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: User Interfaces"
]

[project.urls]
homepage = "https://github.com/yjg30737/pyqt-openai.git"

[tool.setuptools]
packages = ["pyqt_openai"]
include_package_data = true

[project.gui-scripts]
pyqt-openai = "pyqt_openai.main:main"