$icopath: 'C:/Users/tende/Documents/GitHub/test/pyqt-theme-playground/theme/qt_sass_theme/';
$check: $icopath + 'ico/check.svg';



$close: $icopath + 'ico/close.svg';



$up: $icopath + 'ico/up.svg';



$down: $icopath + 'ico/down.svg';



$left: $icopath + 'ico/left.svg';



$right: $icopath + 'ico/right.svg';



$circle-solid: $icopath + 'ico/circle-solid.svg';



$undock: $icopath + 'ico/undock.svg';



$search: $icopath + 'ico/search.svg';



$drawer: $icopath + 'ico/drawer.svg';
