QLabel#searchIconLabel {
  background-image: url("res/ico/search.svg");
  background-repeat: no-repeat;
  background-position: center; }

QWidget#searchBarParent {
  padding: 5px; }

QWidget#searchBar {
  background: #3c3c3c;
  border: 1px solid #6f6f6f; }

QLineEdit#searchBarLineEdit {
  background: transparent;
  color: #DDDDDD;
  border: none; }
