QWidget
{
background-color: qlineargradient(spread:pad,
x1:0, y1:1, x2:0, y2:0, 
stop:0 rgba(255, 0, 0, 255), 
stop:0.166 rgba(255, 0, 255, 255), 
stop:0.333 rgba(0, 0, 255, 255), 
stop:0.5 rgba(0, 255, 255, 255), 
stop:0.666 rgba(0, 255, 0, 255), 
stop:0.833 rgba(255, 255, 0, 255), 
stop:1 rgba(255, 0, 0, 255));
border-radius: 5px;
}